.custom {
			background-color: #34495E;
		}
		.custom ul >li > a {
  			color: white;
 			 height: 100%;
  			font-size: 15px;
  			text-transform: uppercase;
 		 	text-align: center;
 		 	font-weight: bold;
  			z-index: 1;
  			line-height: 25px;
  			
  
	}
	
	.custom button{
    margin: 0 auto;
}
.l1{
	min-width: 100px;
}
.l2{
	min-width: 120px;
}
.l3{
	min-width: 120px;
}
.l4{
	min-width: 160px;
}
.l5{
	min-width: 120px;
}
.l6{
	min-width: 160px;
}
.a1:hover {
    
	background-color: #1abc9c ;
	
	border-right: 5px solid black;
	
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bolder;

}
.a2:hover {
    
	background-color: #e74c3c ;
	
	border-right: 5px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bolder;

}
.a3:hover {
    
	background-color: #28A745;
	
	border-right: 5px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bolder;

}
.a4:hover {
    
	background-color: #9b59b6 ;
	
	border-right: 5px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bolder;

}
.a5:hover {
    
	background-color: #e67e22;
	
	border-right: 5px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bolder;

}
.a6:hover {
    
	background-color: #3498db  ;
	
	border-right: 5px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bolder;

}
